@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,300&display=swap');

*{
    padding: 0; margin: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .3s linear;
    border: none;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #e5e5e5;
}

.wrapper{
    max-width: 1200px;
    margin: auto;
}

.wrapper .container{
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.wrapper .container .box{
    flex: 2;
}

.wrapper .container .box .image{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.wrapper .container .box .image img {
    height: 10rem;
    margin-right: 2rem;
}

.wrapper .container .box .image span {
    font-weight: 600;
    color: #2a9d8f;
    font-size: 1.2rem;
}

.wrapper .container .box .explore{
    text-align: center;
    position: relative;
    font-size: 1.3rem;
    color: #e5e5e5;
    -webkit-text-stroke: .5px #383d52;
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
}

.wrapper .container .box .explore::before{
    content: attr(data-text);
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    color: #e76f51;
    -webkit-text-stroke: 0px #383d52;
    border-right: 2px solid #e76f51;
    overflow: hidden;
    animation: animate 5s linear infinite;
}

.wrapper .container form{
    flex: 1;
    border: 1px solid #ccc;
    background: #fff;
    border-radius: 5px;
    padding: 1rem;
}

.wrapper .container form h1 {
    text-align: center;
    color: #2a9d8f;
    margin-bottom: 4px;
    text-transform: uppercase;
}

.wrapper .container form p{
    color: #ccc;
}

.wrapper .container form .star {
    color: #e76f51;
    font-weight: 700;
}


.wrapper .container form input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 1rem;
    padding: 0 5px;
    border: 1px solid #eee;
}


.wrapper .container form .link{
    text-align: center;
    font-size: .9rem;
    margin: .5rem 0;
}

.wrapper .container form a{
    font-size: .8rem;
    color: #e76f51;
}

.wrapper .container form a:hover{
    text-decoration: underline;
}

/* header */

.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem 0;
    background: #fff;
    border: 1px solid #ccc;
}

.header .logo{
    font-size: 1.3rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: #2a9d8f;
    text-transform: uppercase;
}

.header .navber a:hover{
    border: 1px solid #2a9d8f;
    background: none;
    color: #2a9d8f;
}
.container {
    position: relative;
}

.container .menu{
    width: 30px;
    height: 30px;
    margin: 8%;
    background-image: linear-gradient(to right, #f4a261, #e76f51);
    border-radius: 5px;
    cursor: pointer;
}

.container .menu div {
    width: 20px;
    height: 20px;
    margin: 5px;
    position: relative;
}

.container .menu span {
    background-color: #fff;
    width: 100%;
    height: 3px;
    border-radius: 5px;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, 100%);
    transition: transform 0.5s, width 0.5s;
}

.container .menu .line-1{
    transform: translate(-50%, -152%);
}

.container .menu .line-3{
    transform: translate(-50%, 10px);
}

.container .navber{
    position: absolute;
    background: #FFF;
    border: 1px solid lightgray;
    width: 200px;
    padding: 1rem;
    border-radius: 5px;
    top: 3.3rem;
    left: -5rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    z-index: 2000;

}

.container .navber.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.header .navber a{
    background: #2a9d8f;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border-radius: 5px;
    margin-bottom: .5rem;
}

.header .navber a:nth-child(2){
    background: red;
}

.header .navber a:nth-child(2):hover{
    background-color: #FFF;
    border: 1px solid red;
    color: red;
}

.header .navber .name{
    text-align: center;
    margin-bottom: .5rem;
}

.container-chat{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
}

.box-users{
    flex: 1;
    position: relative;
}

.container-user{
    background: #ffffff;
    width: 90%;
    height: 100%;
    margin: auto;
    padding: 1rem;
    border-radius: 5px;
}

.box-user{
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 1rem 0;
    background: #fff;
}

.box-user .image{
    display: flex;
    
}

.box-user .image img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 1rem;
}

.box-user .image .name{
    color: #383d52;
    font-weight: 600;
    text-transform: capitalize;
}

.box-user .stauts{
    position: absolute;
    top: 3rem;
    right: 5rem;
    font-weight: 600;
    color: #383d52;
}

.box-user .stauts span {
    display: flex;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #2a9d8f;
    position: absolute;
    top: .5rem; 
    right: -1.5rem;
}



.box-mes{
    flex: 1;
}



@media (max-width:879px) {
    .wrapper .container{
        display: block;
    }

    .wrapper .container .box{
        width: 95%;
        margin:2rem auto;
    }

    .wrapper .container .box .image img {
        height: 5rem;
    }

    .wrapper .container .box .image span{
        font-size: .9rem;
    }
    .wrapper .container .box .explore{
        font-size: .9rem;
    }

    .wrapper .container form{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    
    .header .logo{
        font-size: 1rem;
        letter-spacing: 0rem;
    }

    .header .navber a {
        font-size: .9rem;
        padding: .3rem .8rem;
        margin-right: .5rem;
    }

    .container .navber{
        position: absolute;
        background: #FFF;
        border: 1px solid lightgray;
        width: 200px;
        padding: 1rem;
        border-radius: 5px;
        top: 3.3rem;
        left: -8.5rem;
    }
    

}